<!-- homepage.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% comment %} {% block title %}MemoryMap Home Page{% endblock title %} {% endcomment %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Welcome to MemoryMap" %}</title>
    <!-- Link static CSS file -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- Link Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Other head content here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Link to CSS file -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto py-12">
        <div class="custom-container" style="min-height: 300px; max-width: 600px;">
            <h1 class="text-4xl mt-4 font-bold mb-4 text-center ">{% trans "Welcome to MemoryMap" %}</h1>
            <p class="text-lg  mb-6 text-center">{% trans "A place to store and cherish your memories of visited locations." %}</p>
            <!-- Login form -->
            <form id="local-login-form" method="POST" action="{% url 'loginpage' %}">
                {% csrf_token %}
                <div class="text-center mb-6">
                    <button type="submit" class="inline-block px-6 py-3 bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-600">{% trans "Login" %}</button>
                    <!-- Replace "#" with the actual login URL -->
                </div>
            </form>
            <!-- Login form -->
            <form id="local-reg-form" method="POST" action="{% url 'regpage' %}">
                {% csrf_token %}
                <div class="text-center mb-6">
                    <button type="submit" class="inline-block px-6 py-3 bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-600">{% trans "Register" %}</button>
                    <!-- Replace "#" with the actual login URL -->
                </div>
            </form>

            {% comment %} {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                

                    <div class="socialaccount_ballot">

                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>

                        <div class="login-or">{% trans 'or' %}</div>

                    </div>

                {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
                <p>{% blocktrans %}
                    <a href="{{ signup_url }}"></a> first.{% endblocktrans %}</p>
            {% endif %} {% endcomment %}

            <p>
                <a class='text-dark'
                href="{% url 'social:begin' 'vk-oauth2' %}">
                    <img src="{% static 'accounts/img/vk.png' %}"
                    alt="VK" height="50">
                </a>
            </p>
            
            <p>
                <a href="/login/vk-oauth2"><img src="/static/lvk.png" class="avatar-3" data-toggle="tooltip" title="{% trans 'Login via VKontakte' %}"></a>
            </p>
            <form id="login-form" method="GET" action="{% url 'social:begin' 'vk-oauth2' %}">
                {% csrf_token %}
                <div class="text-center mb-6">
                    <button type="submit" class="inline-block px-6 py-3 bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-600">{% trans "Login with VK" %}</button>
                </div>
            </form>
            
            
            {% comment %} <form id="fake-login-form" method="POST" action="{% url 'fake_user_login' %}">
                {% csrf_token %}
                <div class="text-center">
                    <button type="submit" class="inline-block px-6 py-3 bg-green-500 text-white rounded-lg shadow-lg hover:bg-green-600">{% trans "Access User Feed (Fake User)" %}</button>
                </div>
            </form> {% endcomment %}
        </div>
    </div>
    
    <!-- Script to handle form submission -->
    <script>
        // Add event listener to the login form
        document.getElementById('login-form').addEventListener('submit', function(event) {
            // Prevent the default form submission
            event.preventDefault();
            // Submit the form via AJAX
            var form = this;
            var formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    // If login is successful, redirect to user feed page
                    window.location.href = '{% url 'userfeed' %}';
                } else {
                    // Handle login failure
                    // For example, display an error message
                    console.error('Login failed');
                }
            })
            .catch(error => {
                console.error('Login error:', error);
            });
        });

        // Add event listener to the fake login form
        document.getElementById('fake-login-form').addEventListener('submit', function(event) {
            // Prevent the default form submission
            event.preventDefault();
            // Submit the form via AJAX
            var form = this;
            var formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    // If fake login is successful, redirect to user feed page
                    window.location.href = '{% url 'userfeed' %}';
                } else {
                    // Handle login failure
                    // For example, display an error message
                    console.error('Fake login failed');
                }
            })
            .catch(error => {
                console.error('Fake login error:', error);
            });
        });
    </script>
</body>
</html>
{% endblock %}
