<!-- user_feed.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% csrf_token %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "User Feed" %}</title>
    <!-- Link static CSS file -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- Link Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Include Emoji Picker library -->
    <link href="https://cdn.jsdelivr.net/npm/emoji-picker-element@latest/dist/index.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@latest/dist/index.js" defer></script>
    <link rel="icon" href="data:;base64,=">
    
</head>

<body>
    <!-- profileHeader -->
    <div class="custom-container rounded-lg mx-auto py-12 border border-gray-300 rounded-lg">
        <div class="profile-header" style="background-image: url('{% if custom_user.cover %}{{ custom_user.cover.url }}{% else %}{% static 'cover_image.jpg' %}{% endif %}');
        background-size: cover;
        background-position: center;
        height: 300px; /* Adjust height as needed */
        position: relative;">
            <!-- Profile avatar -->
            <div class="profile-avatar align-center">
                {% if custom_user.profile_picture %}
                    <a href="{% url 'profile' custom_user.id %}">
                        <img src="{{ custom_user.profile_picture.url }}" alt="{% trans 'Profile Picture' %}">
                    </a>            
                {% else %}
                    <a href="{% url 'profile' custom_user.id %}">
                        <img src="{% static 'placeholder_profile_pic.png' %}" alt="{% trans 'Placeholder Profile Picture' %}">
                    </a>  
                {% endif %}
            </div>
        </div>
        <!-- User information -->
        <div class="mt-24 profile-container">
            <!-- Profile name -->
            <div class="profile-name">
                <span class="ml-20 text-lg">
                    {% if custom_user.first_name or custom_user.last_name %}
                        <a href="{% url 'profile' custom_user.user.username %}">
                    {% endif %}
                    {{ custom_user.user.first_name|default:"" }} {{ custom_user.user.last_name|default:"" }}{% if not custom_user.user.first_name or not custom_user.user.last_name %}{% trans 'Placeholder' %}{% endif %}
                    {% if custom_user.user.first_name or custom_user.user.last_name %}
                        </a>
                    {% endif %}
                </span>
            </div>
            
            <!-- Logout button -->
            <form id="logout-form" method="POST" action="{% url 'logout_user' %}">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ custom_user.user.id }}">
                <button type="submit" class="flex items-center mr-4 text-red-500 hover:text-red-700 ml-auto">
                    <i class="fas fa-sign-out-alt mr-1"></i> <!-- Font Awesome logout icon -->
                    {% trans "Logout" %}
                </button>
            </form>
        </div>
    </div>

    <!-- quick post area -->
    <div class="container rounded-lg mx-auto py-12">
        <div class="custom-container rounded-lg" style="max-width: 600px;">
            <form method="POST" action="{% url 'add_to_feed' %}" enctype="multipart/form-data" class="rounded-lg p-4">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ custom_user.user.id }}">
                <div class="relative">
                    <!-- Text area with location and content -->
                    <div class="relative ml-3 border-b border-gray-300">
                        <i class="absolute top-2 left-3 fas fa-map-marker-alt"></i>
                        <input type="text" class="w-full pl-8 bg-transparent focus:outline-none" name="location" id="locationInput" placeholder="{% trans 'No location' %}">
                        <textarea name="content" id="contentTextArea" class="w-full bg-transparent px-3 py-2 border-0 focus:outline-none mt-4" rows="8" placeholder="{% trans 'Add to feed...' %}"></textarea>
                        <!-- Emoji button -->
                        <button type="button" id="emojiButton" class="absolute top-2 right-3 focus:outline-none">
                            😀 <!-- Default emoji icon -->
                        </button>
                    </div>
                    <!-- Image Belt -->
                    <div class="image-belt mt-3" id="mediabelt">
                        <!-- Uploaded images will be displayed here -->
                    </div>
                </div>
                <!-- Buttons for adding media -->
                <div class="mt-4 flex justify-between">
                    <div id="page_add_media" class="page_add_media">
                        <div class="media_selector clear_fix">
                            <div id="optionsMenu" class="options-menu hidden">
                                <ul>
                                    <li class="mt-3"><a href="#" id="changeAvatarOption">{% trans "Change Avatar Picture" %}</a></li>
                                    <button type="button"  onclick="uploadAvatar()" class="ms_item ms_item_photo _type_photo mr-4" tabindex="0" data-title="{% trans 'Photo' %}" aria-label="{% trans 'Photo' %}" role="link" id="changeAvatarOption">
                                        <i class="fas fa-camera"></i>
                                        <span class="blind_label">{% trans 'Photo' %}</span>
                                    </button>
                                    <li class="mt-3"><a href="#" id="changeCoverOption">{% trans "Change Cover Picture" %}</a></li>
                                </ul>
                            </div>
                            <!-- Camera button -->
                            <button type="button" class="ms_item ms_item_photo _type_photo mr-4" tabindex="0" data-title="{% trans 'Photo' %}" aria-label="{% trans 'Photo' %}" role="link" id="uploadMediaBtn">
                                <i class="fas fa-camera"></i>
                                <span class="blind_label">{% trans 'Photo' %}</span>
                            </button>
                            <!-- Location/map button -->
                            <button type="button" class="ms_item ms_item_location _type_location  mr-4" tabindex="0" data-title="{% trans 'Location' %}" aria-label="{% trans 'Location' %}" role="link" onclick="openMapPopup()">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="blind_label">{% trans 'Location' %}</span>
                            </button>
                            <!-- Add other media buttons here -->
                        </div>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                        {% trans "Add to Feed" %}
                    </button>
                </div>
                <!-- Hidden map popup -->
                <div id="mapPopup" class="hidden mt-9" tabindex="0">
                    {% include 'yandex_map_popup.html' %}
                </div>
                <!-- Input to upload images -->
                <input style="display: none;" id="mediaInput" type="file" name="images" accept="image/*" multiple>
            </form> 
        </div>  
    </div>

    <!-- Display user's posts -->       
    <!-- Display multiple memories -->
    <div class="rounded-lg mx-auto py-12">
        {% for memory in user_memories %}
            <!-- Include the memory.html template for each memory -->
            {% include 'memory.html' with memory=memory%}
        {% endfor %}
    </div>
           
    <script>
        function openMapPopup() {
            var mapPopup = document.getElementById("mapPopup");
            mapPopup.classList.toggle("hidden");
            // Additional JavaScript logic to handle opening and closing the map popup
        }
         // Function to open emoji picker
        document.getElementById('emojiButton').addEventListener('click', function() {
            var textarea = document.getElementById('contentTextArea');
            var emojiPicker = new EmojiPicker();
            emojiPicker.addEventListener('emoji-click', function(event) {
                textarea.value += event.detail.unicode;
            });
            emojiPicker.showPicker(document.getElementById('emojiButton'));
            
        });
    </script>
    
   <!-- JavaScript to handle media uploading and memory saving -->
    <script>  
        
        // Function to handle media uploading
        function uploadMedia() {
            document.getElementById('images').click();
        }

        // Function to create a delete button
        function createDeleteButton(container) {
            var deleteBtn = document.createElement('button');
            deleteBtn.classList.add('delete-btn'); // Initially hidden
            deleteBtn.innerHTML = '&times;'; // Unicode multiplication symbol (×) for delete
            deleteBtn.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default behavior (i.e., redirection)
                container.remove(); // Remove the media item container
            });
            return deleteBtn;
        }

        // Function to create a full-screen button
        function createFullScreenButton(img) {
            var fullScreenBtn = document.createElement('button');
            fullScreenBtn.classList.add('full-screen-btn'); // Initially hidden
            fullScreenBtn.innerHTML = '&#x26F6;'; // Unicode arrow for full-screen
            fullScreenBtn.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default behavior (i.e., redirection)
                img.requestFullscreen(); // Display image in full-screen
            });
            return fullScreenBtn;
        }

        // Function to display uploaded media (image or video)
        function displayMedia(file) {
            var container = document.createElement('div');
            container.classList.add('media-item-container');

            // Check if the file is an image
            if (file.type.startsWith('image/')) {
                var imgContainer = document.createElement('div');
                imgContainer.classList.add('media-item-wrapper');

                var img = document.createElement('img');
                img.classList.add('media-item');
                img.file = file;
                img.src = URL.createObjectURL(file);

                // Append the image to its container
                imgContainer.appendChild(img);
                container.appendChild(imgContainer);

                // Create and append delete button
                var deleteBtn = createDeleteButton(imgContainer);
                imgContainer.appendChild(deleteBtn);

                // Create and append full-screen button
                var fullScreenBtn = createFullScreenButton(img);
                imgContainer.appendChild(fullScreenBtn);
            }
            // Check if the file is a video
            else if (file.type.startsWith('video/')) {
                var video = document.createElement('video');
                video.classList.add('media-item');
                video.file = file;
                video.src = URL.createObjectURL(file);
                video.controls = true; // Show video controls

                // Append the video to its container
                videoContainer.appendChild(video);
                container.appendChild(videoContainer);

                // Create and append delete button for videos
                var deleteBtn = createDeleteButton(videoContainer);
                videoContainer.appendChild(deleteBtn);
            }

            // Append the container to the media belt
            document.getElementById('mediabelt').insertBefore(container, document.getElementById('uploadBtnContainer'));
        }



        // Event listener for the upload media button
        document.getElementById('uploadMediaBtn').addEventListener('click', function () {
            document.getElementById('mediaInput').click();
        });

        // Event listener for media input change
        document.getElementById('mediaInput').addEventListener('change', function () {
            var files = this.files;
            // Iterate over selected files and display media (image or video)
            for (var i = 0; i < files.length; i++) {
                displayMedia(files[i]);
            }
        });

        // Event listener for "Cancel" button
        document.getElementById('cancelBtn').addEventListener('click', function () {
            // Clear content and media
            document.getElementById('contentInput').value = '';
            document.getElementById('locationInput').value = '';
            document.getElementById('mediabelt').innerHTML = '';
        });
    </script>
</body>
</html>
{% endblock %}
